services:
  db:
    image: postgres:17
    container_name: qwerty_postgres_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=qwerty_db
      - POSTGRES_USER=qwerty_user
      - POSTGRES_PASSWORD=qwerty_password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U qwerty_user -d qwerty_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: qwerty_web_dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - DATABASE_URL=postgresql://qwerty_user:qwerty_password@db:5432/qwerty_db
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=qwerty_db
      - POSTGRES_USER=qwerty_user
      - POSTGRES_PASSWORD=qwerty_password
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
  static_volume:
  media_volume: