{% if variant %}
    <div>
        {% with images=variant.get_images %}
          {% for img in images %}
            <img src="{{ img.image.url }}" alt="{{ variant.sku }}">
          {% endfor %}
        {% endwith %}

        <h2>{{ variant.price }} грн</h2>
        <p>SKU: {{ variant.sku }}</p>

        <p>
            {% if variant.available %}
                <span">В наявності</span>
            {% else %}
                <span>Немає в наявності</span>
            {% endif %}
        </p>

        <form action="{% url 'cart:cart_add' variant.id %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="variant_id" value="{{ variant.id }}">

            <input type="hidden" name="quantity" value="1">

            <input type="hidden" name="override" value="False">

            <button type="submit"
                    {% if not variant.available %}disabled{% endif %}>
                Додати в кошик
            </button>
        </form>
    </div>
{% else %}
    <div>
        Такої комбінації характеристик немає. Оберіть інші параметри.
    </div>
{% endif %}
