  services:
    web:
      build:
        context: ..
        dockerfile: .devcontainer/Dockerfile
      user: "root"
      volumes:
        - .:/app:cached
        - static_volume:/app/staticfiles
        - media_volume:/app/media
      ports:
        - "8000:8000"
      environment:
        - DEBUG=True
        - DATABASE_URL=postgresql://qwerty_user:qwerty_password@db:5432/qwerty_db
        - POSTGRES_HOST=db
        - POSTGRES_PORT=5432
        - POSTGRES_DB=qwerty_db
        - POSTGRES_USER=qwerty_user
        - POSTGRES_PASSWORD=qwerty_password
        - REDIS_HOST=redis
        - REDIS_PORT=6379
        - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      depends_on:
        db:
          condition: service_healthy

    db:
      image: postgres:17
      container_name: qwerty_postgres_dev
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        - POSTGRES_DB=qwerty_db
        - POSTGRES_USER=qwerty_user
        - POSTGRES_PASSWORD=qwerty_password
      ports:
        - "5432:5432"
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U qwerty_user -d qwerty_db"]
        interval: 10s
        timeout: 5s
        retries: 5

    rabbitmq:
      image: rabbitmq:3-management-alpine
      ports:
        - "5672:5672"
        - "15672:15672"
      environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest
      healthcheck:
        test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
        interval: 5s
        timeout: 15s
        retries: 5

    stripe:
      image: stripe/stripe-cli:latest
      command: listen --forward-to http://web:8000/payment/webhook/ --api-key ${STRIPE_SECRET_KEY}
      environment:
        - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      depends_on:
        - web

    redis:
      image: redis:7-alpine
      restart: unless-stopped
      volumes:
        - redis-data:/data

  volumes:
    postgres_data:
    static_volume:
    media_volume:
    redis-data: