{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}" alt={{ product.slug }}>
        <h1>{{ product.name }}</h1>
        <p class="price">${{ product.price }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post" class="mt-auto js-add-form">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="override" value="False">

            <button type="submit"
                    class="w-full py-4 bg-black text-white font-bold text-xl uppercase border-2 border-black hover:bg-white hover:text-black transition-all shadow-hard hover:shadow-none hover:translate-x-1 hover:translate-y-1 js-add-btn">
                Add to Cart
            </button>
        </form>
        {{ product.description|linebreaks }}
         {% if recommended_products %}
          <div class="recommendations">
            <h3>People who bought this also bought</h3>
            {% for p in recommended_products %}
              <div class="item">
                <a href="{{ p.get_absolute_url }}">
                  <img src="{% if p.image %}{{ p.image.url }}{% else %}
                  {% static  "img/no_image.png" %}{% endif %}">
                </a>
                <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
              </div>
            {% endfor %}
          </div>
         {% endif %}
    </div>
{% endblock %}
