{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <aside class="sidebar">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "catalog:product_list" %}">All</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <p>{{ c.name }}</p>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <div class="products">
            {% for product in products %}
                <a class="product-item" href="{{ product.get_absolute_url }}">
                    <div class="product-poster">
                        {% if product.image %}
                            <img class="poster-image" src="{{ product.image.url }}" alt="{{ product.slug }}">
                        {% endif %}
                    </div>
                    <h4 class="product-name">{{ product.name }}</h4>
                    <span class="product-price">₴{{ product.price }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
