@import "./normalize.css";
@import "./catalog.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    background: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1214px;
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    flex-shrink: 0;
}

.main {
    flex: 1;
}

.header-wrapper {
  margin: 12px auto;
}

.header-logo {
  font-size: 22px;
  font-weight: 600;
}

.header-navbar {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 24px;
}

.menu-link {
  font-size: 16px;
  color: #333;
}

.header-links {
  display: flex;
  gap: 8px;
}

.header-link {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin: 12px auto;
}

.footer-wrapper {
  align-items: start;
}

.footer-logo {
  font-style: 18px;
  margin-bottom: 8px;
}

.footer-rights {
  font-weight: 300;
  font-size: 11px;
}

.footer-heading {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 16px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.list-items {
  padding-left: 12px;
}

.footer-links {
  display: flex;
  gap: 5px;
}

.footer-link {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-btn {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    left: -3px;
    bottom: -3px;
    background: red;
    color: #fff;
    font-size: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    pointer-events: none;
}
