@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  background: #f5f5f5;
  min-height: 100vh;
}

.container {
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
