.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(172px, 1fr));
    gap: 8px;
    width: 1008px;
}

.product-poster {
    background: #d9d9d9;
    width: auto;
    height: auto;
    border-radius: 4px;
}

.poster-image {
    width: 100%;
}

.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
    display: block;
    font-size: 12px;
}

.product-price {
    font-size: 12px;
}
