* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

input, textarea {
  background: none;
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
